*{
    font-family: "Roboto", sans-serif;
}
:root{
    --maincolor1:#CC3333;
    --maincolor2: #FFF8EE;
    --maincolor3: #2A435D;
}
.header{
    width: 100%;
    height: 154px;
    background-color: var(--maincolor2);
    position: fixed;
    top:0px;
    left: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.content{
    width: 100%;
    height: 2810px;
    background-color:var(--maincolor2);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    top: 135px;
    left: 0px;
}
/*content1*/
.content-1{
    width: 100%;
    height: 280px;
    background-image: url(../img/about-img/image_about-bg.png);
    box-sizing: border-box;
    text-align: center;
    background-size:100% 100% ;
    padding-top: 90px;
}
.content-1__box--header{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor2);
}
.content-1__box--content{
    font-size: 18px;
    color: var(--maincolor2);
    margin-top: 0;
}
/*content2*/
.content-2{
    width: 100%;
    height: 383px;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-2__box{
    width: 1173px;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid var(--maincolor1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.content-2__box1{
    width: 511px;
    height: 294px;
    display: flex;
}
.content-2__box1--img{
    width: 100%;
    height: 100%;
    margin: auto;
}
.content-2__box2{
    width: 511px;
    height: 294px;
    box-sizing: border-box;
    text-align: justify;
}
.content-2__box2--items1{
    width: 100%;
    height: 95px;
    font-size: 20px;
    font-weight: bold;
    color:var(--maincolor3);
}
.content-2__box2--items2{
    width: 100%;
    height: 132px;
    font-size: 18px;
    color:var(--maincolor3);
    margin-top: 30px;
}
/*content3*/
.content-3{
    width: 100%;
    height: 395px;
    box-sizing: border-box;
    margin-top: 60px;
}
.content-3__header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content-3__header--items{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor1);
}
.content-3__content{
    width: 100%;
    height: 305px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-3__body{
    width: 1062px;
    height: 305px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.content-3__body__box1,.content-3__body__box2{
    width: 511px;
    height:295px;
    box-sizing: border-box;
}
.content-3__body__box1--items{
    font-size: 18px;
    color: var(--maincolor3);
    text-align: justify; 
}
.content-3__body__box2--img{
    width: 100%;
    height: 100%;
}
/*content4*/
.content-4{
    width: 100%;
    height: 300px;
    background-color: #FFDFDF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}
.content-4__box1{
    width: 660px;
    height: 100%;
    box-sizing: border-box;
}
.content-4__box1__header{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    margin-top: -5px;
}
.content-4__box1__header--items1{
    font-size: 25px;
    color: var(--maincolor1);
}
.content-4__box1__header--items2{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
    margin-top: -20px;
}
.content-4__box1__content{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    margin-top: -20px;
    text-align: justify;
}
.content-4__box1__content--items{
    font-size: 18px;
    color: var(--maincolor3);
}
.content-4__box1__button{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
}
.content-4__box1__button--link{
    text-decoration: none;
}
.content-4__box1__button--items{
    width: 300px;
    height: 60px;
    background-color: var(--maincolor1);
    font-size: 25px;
    color: var(--maincolor2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--maincolor1);
    transition: transform 0.3s ease;
}
.content-4__box1__button--items:hover{
    transform: scale(1.1);
}
.content-4__box2{
    width: 332px;
    height: 300px;
}
.content-4__box2--img{
    width: 100%;
    height: 100%;
}
/*content5*/
.content-5{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    margin-top: 70px;
}
.content-5__header{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
}
.content-5__header--items1{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
}
.content-5__header--items2{
    font-size: 18px;
    color: var(--maincolor1);
    margin-top: -10px;
}
.content-5__body{
    width: 100%;
    height: 146px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.content-5__body__layoutmain,.content-5__body__layoutcontent{
    width: 900px;
    height: 100%;
    box-sizing: border-box;
}
.content-5__body__layoutmain{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.content-5__body__layoutcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content-5__body__layoutcontent--items{
    width: 425px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.content-5__body__layoutcontent--items1{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor1);
    margin-top: 0;
}
.content-5__body__layoutcontent--items2{
    font-size: 18px;
    color: var(--maincolor3);
    margin-top: 0;
}
.content-5__tag{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.content-5__tag__icon{
    width: 130px;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.content-5__tag__icon--items{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid var(--maincolor1);
    transition: background-color 0.5s ease;
}
.content-5__tag__icon--items:hover{
    background-color: var(--maincolor1);
    cursor: pointer;
}
/*content*/
.content-6{
    width: 100%;
    height: 760px;
    box-sizing: border-box;
    margin-top: 80px;
}
.content-6__header{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
}
.content-6__header--items1{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
    margin-top: 0;
}
.content-6__header--items2{
    font-size: 18px;
    color: var(--maincolor3);
    margin-top: -10px;
}
.content-6__body{
    width: 100%;
    height: 488px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 45px;
}
.content-6__body__box{
    width: 343px;
    height: 100%;
    box-sizing: border-box;
}
.content-6__body__box__content{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 3px solid var(--maincolor1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 40%;
    box-sizing: border-box;
}
.content-6__body__box__content--items1{
    width: 217px;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 125px;
    bottom: 195px;
}
.content-6__body__box__content--items2{
    font-size: 25px;
    font-weight: bold;
    color: var(--maincolor3);
    transition: color 0.3s ease;
}
.content-6__body__box__content--items3{
    font-size: 18px;
    color: var(--maincolor3);
    margin-top: -15px;
    transition: color 0.3s ease;
}
.content-6__body__box__content:hover .content-6__body__box__content--items2,
.content-6__body__box__content:hover .content-6__body__box__content--items3{
    color: var(--maincolor1);
}
.content-6__body__box__contact{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 36%;
}
.content-6__body__box__contact--link{
    width: 25px;
    height: 25px;
    text-decoration: none;
}
.content-6__body__box__contact--items--text{
    font-size: 30px;
    font-weight: bold;
    color: var(--maincolor1);
}
.content-6__body__box__contact--link:last-child{
    margin-bottom: 70px;
}
.content-6__tag{
    width: 100%;
    height: 41px;
    margin-top: 100px;
    text-align: center;
}
.content-6__tag--items{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
}
.footer{
    width: 100%;
    height: 298px;
    box-sizing: border-box;
    position: relative;
    top: 130px;
    left: 0px;
    right: 0;
}

