*{
    font-family: "Roboto", sans-serif;
}
:root{
    --maincolor1: #CC3333;
    --maincolor2: #FFF8EE;
    --maincolor3: #2A435D;
}
.header{
    width: 100%;
    height: 154px;
    background-color: var(--maincolor2);
    position: fixed;
    top:0px;
    left: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.content{
    width: 100%;
    height: 5427px;
    background-color:var(--maincolor2);
    position: relative;
    z-index: 1;
    top: 148px;
    left: 0px;
}
/*content1*/
.content-1{
    width: 100%;
    height: 345px;
    box-sizing: border-box;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.content-1__box{
    width: 80%;
    height: 100%; 
    box-sizing: border-box;
}
.content-1__box--items{
    width: 100%;
    height: 100%;
    background-color:var(--maincolor2);
    box-sizing: border-box;
    padding-top: 15px;
}
.content-1__block1{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}
.content-1__block1__slideshow{
    width: 100%;
    height: 100%;
    display: none;
    transform-origin: right;
	animation: slide1 ease-in 1s;
}
@keyframes slide1
{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}
.content-1__block1__layout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.content-1__items{
    width: 510px;
    height: 100%;
}
.content-1__items1{
    color: var(--maincolor1);
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: -30px;
}
.content-1__items2{
    width: 500px;
    color:var(--maincolor3);
    font-size: 50px;
    font-style: italic;
}
.content-1__items2--style{
    color: var(--maincolor1);
    font-size: 50px;
    font-style: italic;
}
.content-1__items--product{
    width: 438px;
    height: 292px;
}
.content-1__items3{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    gap: 50px;
}
.content-1__items3--button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--maincolor1);
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    color: var(--maincolor2);
    border: 2px solid var(--maincolor1);
    transition: transform 0.3s ease;
}
.content-1__items3--button:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
.content-1__items3--text{
    font-size: 25px;
    color:var(--maincolor3);
    white-space: nowrap;
}
.content-1__block2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.content-1__items4--icon{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
}
.content-1__items4--icon__link{
    width: 31.88px;
    height: 31.2px;
    text-decoration: none;
    display: flex;
}
.content-1__items4--icon__link:last-child{
    margin-top: -10px;
}
.content-1__items4--icon__items{
    margin: auto;
    color: var(--maincolor1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 25px;
    height: 25px;
}
.content-1__items4--cuon{
    width: 200px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}
.cuon{
    /* background-color: var(--maincolor1); */
    background-color: blue;
}
.content-1__items4--cuon__items{
    width: 20px;
    height: 20px;
    border: 3px solid var(--maincolor1);
    border-radius: 50%;
    background-color: var(--maincolor2);
}
.content-1__items4--cuon__items:hover{
    background-color: var(--maincolor1);
    cursor: pointer;
}
/*content2*/
.content-2{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.content-2__box1{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.content-2__box1--items1{
    width: 101px;
    height: 23px;
    font-size: 20px;
    font-weight: bold;
    color: var(--maincolor3);
    margin-bottom: -20px;
}
.content-2__box1--items2{
    width: 238px;
    height: 41px;
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor1);
}
.content-2__box2{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.content-2__box2--items{
    width: 230px;
    height: 120px;
    transition: transform 0.3s ease;
    align-self: flex-end;
}
.content-2__box2--items:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/*content3*/
.content-3{
    width: 100%;
    height: 650px;
    margin-top: 30px;
}
.content-3--header{
    width: 100%;
    height: 25px;
    display: flex;
}
.content-3--header--items{
    width: 156px;
    height: 23px;
    font-size: 20;
    color: var(--maincolor3);
    font-weight: bold;
    margin: auto;
}
.content-3--content{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.content-3__box1{
    width: 361px;
    height: 100%;
    display: flex;
}
.content-3__box1--items{
    width: 100%;
    height: 100%;
}
.content-3__box2{
    width: 55%;
    height: 100%;
}
.content-3__box2--items1{
    width: 100%;
    height: 200px;
}
.content-3__box2--items1__header{
    width: 502px;
    height: 82px;
    font-weight: bold;
    font-size: 35px;
    color: var(--maincolor1);
    margin-top: -5px;
}
.content-3__box2--items1__content{
    width: 801px;
    height: 100px;
    font-size: 25px;
    color: var(--maincolor3);
}
.content-3__box3{
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-3__box3--items1{
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}
.content-3__box3--items1__content1{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-3__box3--items1__content1--items{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.content-3__box3--star{
    width: 20px;
    height: 20px;
}
.content-3__box3--items1__content1--itemsitems{
    font-size: 25px;
    color: var(--maincolor3);
}
.content-3__box3--items1__content2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.content-3__box3--items1__content2--button{
    width: 300px;
    height: 60px;
    background-color: var(--maincolor1);
    border-radius: 20px;
    font-size: 35px;
    color:var(--maincolor2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.content-3__box3--items1__content2--button:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.content-3__box3--items2{
    width: 359px;
    height: 377px;
    margin-top: 10px;
}
.content-3__box3--items2__items{
    width: 100%;
    height: 100%;
}
/*content4*/
.content-4{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    box-sizing: border-box;
}
.content-4__header{
    width: 100%;
    height: 120px;
    display: flex;
}
.content-4__header--items{
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
}
.content-4__header--items1{
    color: var(--maincolor1);
    font-size: 50px;
    white-space: nowrap;
    margin-top: -5px;
}
.content-4__header--items2{
    color:var(--maincolor3);
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: -20px;
}
.content-4__content{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    gap: 65px;
}
.content-4__content--box{
    width: 560px;
    height: 200px;
    display: flex;
    cursor: pointer;
}
.content-4__content--items1,.content-4__content--items3{
    width: 405px;
    height: 100%;
    margin: auto;
}
.content-4__content--items1,.content-4__content--items2,.content-4__content--items3{
    transition: transform 0.3s ease-in-out;
}
.content-4__content--items1:hover,.content-4__content--items2:hover,.content-4__content--items3:hover
{
    transform: scale(1.1);
}
/*content5*/
.content-5{
    width: 100%;
    height: 880px;
    box-sizing: border-box;
    margin-top: 20px;
}
.content-5__header{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    display: flex;
}
.content-5__header--box{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
.content-5__header--box1--items1{
    font-size: 20px;
    color: var(--maincolor1);
    font-weight: bold;
    margin-top: 0px;
}
.content-5__header--box1--items2{
    font-size: 35px;
    color: var(--maincolor3);
    font-weight: bold;
    margin-top: 20px;
}
.content-5__header--box1--items3{
    font-size: 15px;
    color: var(--maincolor3);
    margin-top: -15px;
}
.content-5__menu{
    width: 100%;
    height: 80px;
    background-color: var(--maincolor2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-5__menu--items{
    width: 244px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--maincolor1);
    border-right: 1px solid var(--maincolor3); 
    cursor: pointer;
    transition-duration: 0.4s;
}
.active {
    background-color: var(--maincolor1);
    color: var(--maincolor2);
}
.content-5__menu--items:hover{
    background-color: var(--maincolor1);
    color: var(--maincolor2);
}
.content-5__menu--items:last-child{
    border-right: 1px solid var(--maincolor2);
}
.content-5__content{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    box-sizing: border-box;
    gap: 20px;
}
.content-5__content--box{
    width: 75%;
    height: 675px;
    display: flex;
}
.content-5__content--box__slideshow{
    width: 100%;
    height: 100%;
    display: none;
    animation: slide 0.7s ease-in-out;
}
@keyframes slide {
    from{
		opacity: 0.2;
		transform: scale(0.5);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}
.content-5__content--box__layout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.content-5__content--img{
    width: 40px;
    height: 40px;
    display: flex;
}
.content-5__content--img1,.content-5__content--img2{
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
    cursor: pointer;
    margin: auto;
}
.content-5__content--img1:hover,.content-5__content--img2:hover{
    transform: scale(1.2);
}
.content-5__content--box1{
    width: 489px;
    height: 675px;
    box-sizing: border-box;
}
.content-5__content--box1--img{
    width: 100%;
    height: 615px;
}
.content-5__content--box1--footer{
    width: 100%;
    height: 60px;
    background-color: var(--maincolor1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    box-sizing: border-box;
    margin-top: -11px;
}
.content-5__content--box1--footer__items1{
    color: var(--maincolor2);
    font-size: 35px;
    font-weight: bold;
}
.content-5__content--box1--footer__items2{
    margin-right: 20px;
}
.content-5__content--box2{
    width: 600px;
    height: 675px;
    box-sizing: border-box;
}
.content-5__content--box2__items{
    width: 100%;
    height: 75px;
    display: flex;
    margin-bottom: 20px;
}
.content-5__content--box2__items1{
    width: 90%;
    height: 100%;
}
.content-5__content--box2__items1--header{
    font-size: 25px;
    color: var(--maincolor1);
    margin-top: 0;
}
.content-5__content--box2__items1--content{
    font-size: 18px;
    color: var(--maincolor3);
    margin-top: -20px;
    margin-bottom: 0;
}
.content-5__content--box2__items2{
    font-size: 20px;
    color: var(--maincolor1);
    font-weight: bold;
    margin-top: 50px;
}
/*content6*/
.content-6{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    margin-top: 50px;
}
.content-6__header{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    
}
.content-6__header--items{
    font-weight: bold;
    font-size: 35px;
    color: var(--maincolor1);
    margin: auto;
}
.content-6__body{
    width: 100%;
    height: 420px;
    box-sizing: border-box;
}
.content-6__body1,.content-6__body2{
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.content-6__body1--items,.content-6__body2--items
{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 1s ease;
}
.content-6__body1--items--img,.content-6__body2--items--img{
    width: 108.3px;
    height: 86px;
}
.content-6__body1--items--textbox,.content-6__body2--items--textbox{
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}
.content-6__body1--items--text,.content-6__body2--items--text{
    font-size: 25px;
    color: var(--maincolor1);  
}
.content-6__body1--items:hover,.content-6__body2--items:hover{
    transform: scale(1.1);
    background-color: var(--maincolor1); 
}
.content-6__body1--items:hover
.content-6__body1--items--textbox 
.content-6__body1--items--text,
.content-6__body2--items:hover
.content-6__body2--items--textbox 
.content-6__body2--items--text{
    color: var(--maincolor2);
}
/*content7*/
.content-7{
    width: 100%;
    height: 565px;
    box-sizing: border-box;
    margin-top: 50px;
}
.content-7__header{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
}
.content-7__header--items{
    font-size: 20px;
    color: var(--maincolor1);  
    font-weight: bold;
    margin: auto;
}
.content-7__content{
    width: 100%;
    height: 535px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.content-7__box1{
    width: 470px;
    height: 483px;
    margin-top: 50px;
}
.content-7__box1--items1{
    width: 100%;
    height: 153px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 10px;
}
.content-7__box1--items1--img{
    width: 230px;
    height: 153px;
}
.content-7__box1--items2{
    width: 470px;
    height: 320px;
    margin-top: 10px;
}
.content-7__box1--items2--img{
    width: 100%;
    height: 100%;
}
.content-7__box2{
    width: 682px;
    height: 500px;
    box-sizing: border-box;
}
.content-7__box2__header{
    font-size: 35px;
    color:var(--maincolor3);  
    font-weight: bold;
}
.content-7__box2__mota{
    font-size:18px;
    color:var(--maincolor3);  
}
.content-7__box2__body1,.content-7__box2__body2{
    width: 100%;
    height: 144px;
    box-sizing: border-box;
    display: flex;
}
.content-7__box2__body2{
    margin-top: 40px;
}
.content-7__box2__body1--box1,.content-7__box2__body2--box1{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid var(--maincolor1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-7__box2__body1--box1--img,.content-7__box2__body2--box1--img{
    width: 50px;
    height: 50px;
}
.content-7__box2__body1--box2,.content-7__box2__body2--box2{
    width: 563px;
    height: 100%;
    box-sizing: border-box;
    margin-left: 20px;
}
.content-7__box2__body1--box2__header,.content-7__box2__body2--box2__header{
    font-size:35px;
    color:var(--maincolor1);  
    font-weight: bold;
}
.content-7__box2__body1--box2__content,.content-7__box2__body2--box2__content{
    font-size:18px;
    color:var(--maincolor3);  
}
.content-7__box2__body1--box2__link,.content-7__box2__body2--box2__link{
    width: 159px;
    height: 35px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.content-7__box2__body1--box2__button,.content-7__box2__body2--box2__button{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    background-color: var(--maincolor2);
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--maincolor2);
    transition: background-color 1s ease;
}
.content-7__box2__body1--box2__button--text,.content-7__box2__body2--box2__button--text{
    font-size:20px;
    color:var(--maincolor1);
    font-weight: bold;
}
.content-7__box2__body1--box2__button--icon,.content-7__box2__body2--box2__button--icon{
    width: 20px;
    height: 20px;
    position: relative;
}
.content-7__box2__body1--box2__button--img1,
.content-7__box2__body1--box2__button--img2,
.content-7__box2__body2--box2__button--img1,
.content-7__box2__body2--box2__button--img2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.content-7__box2__body1--box2__button--img2,.content-7__box2__body2--box2__button--img2{
    display: none;
}
.content-7__box2__body1--box2__button:hover,.content-7__box2__body2--box2__button:hover{
    background-color: var(--maincolor1);  
}
.content-7__box2__body1--box2__button:hover .content-7__box2__body1--box2__button--text,
.content-7__box2__body2--box2__button:hover .content-7__box2__body2--box2__button--text{
    color: var(--maincolor2);
}
.content-7__box2__body1--box2__button:hover .content-7__box2__body1--box2__button--icon .content-7__box2__body1--box2__button--img1,
.content-7__box2__body2--box2__button:hover .content-7__box2__body2--box2__button--icon .content-7__box2__body2--box2__button--img1{
    display: none;
}
.content-7__box2__body1--box2__button:hover .content-7__box2__body1--box2__button--icon .content-7__box2__body1--box2__button--img2,
.content-7__box2__body2--box2__button:hover .content-7__box2__body2--box2__button--icon .content-7__box2__body2--box2__button--img2{
    display: block;
}
/*content8*/
.content-8{
    width: 100%;
    height: 373px;
    box-sizing: content-box;
    margin-top: 100px;
}
.content-8__header{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    text-align: start
}
.content-8__header--items{
    font-size:20px;
    color:var(--maincolor1);  
    font-weight: bold;
    margin-left: 25%;
}
.content-8__body{
    width: 100%;
    height: 323px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.content-8__body1{
    width: 522px;
    height: 313px;
    box-sizing: border-box;
}
.content-8__body1__header{
    font-size:35px;
    color:var(--maincolor1);  
    font-weight: bold;
}
.content-8__body1__header--span{
    color: var(--maincolor3);
}
.content-8__body1__content{
    font-size:18px;
    color:var(--maincolor3);  
}
.content-8__body1__box{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 74px;
}
.content-8__body1__box1{
    width: 175px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-8__body1__box1--items{
    width: 129px;
    height: 100%;
    box-sizing: border-box;
}
.content-8__body1__box1--items__header{
    font-size:20px;
    color:var(--maincolor3);  
    font-weight: bold;
}
.content-8__body1__box1--items__numberphone{
    font-size:15px;
    color:var(--maincolor3);  
    white-space: nowrap;
    margin-top: 0;
}
.content-8__body1__box1--img{
    width: 35px;
    height: 35px;
}
.content-8__body1__box2{
    width: 159px;
    height: 50px;
    border-radius: 10px;
}
.content-8__body1__box2--items{
    width: 100%;
    height: 100%;
    font-size:25px;
    color:var(--maincolor2); 
    border-radius: 10px; 
    background-color: var(--maincolor1);
    border: 1px solid var(--maincolor1);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.content-8__body2{
    width: 447px;
    height: 313px;
}
.content-8__body1--img{
    width: 100%;
    height: 100%;
}
.content-8__body1__box2--items:hover{
    transform: scale(1.2);
}
/*content9*/
.content-9{
    width: 100%;
    height: 456px;
    box-sizing: border-boxs;
    margin-top: 60px;
}
.content-9__header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-9__header--items{
    font-size: 20;
    color: var(--maincolor1);
    font-weight: bold;
}
.content-9__body{
    width: 100%;
    height: 376px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.content-9__body__box{
    width: 406px;
    height: 100%;
    background-color: var(--maincolor2);
    box-sizing: border-box;
    transition: background-color 0.5s ease-in;
}
.content-9__body__box--logo{
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}
.content-9__body__box--logo--items{
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
    left: 0;
}
.content-9__body__box--logo--number{
    width: 100px;
    height: 100px;
    background-color: var(--maincolor1);
    display: flex;
    font-size: 35px;
    color: var(--maincolor2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.5s ease-in , color 0.5s ease;
}
.content-9__body__box--logo--img{
    width: 80px;
    height: 80px;
    display: flex;
    position: absolute;
    left: 18px;   
}
.content-9__body__box--logo--img--items{
    width: 100%;
    height: 100%;
}
.content-9__body__box--content{
    width: 100%;
    height: 105px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content-9__body__box--content__header{
    font-size: 20;
    font-weight: bold;
    color: var(--maincolor3);
    margin-top: 0;
    transition: color 0.5s ease;
}
.content-9__body__box--content__content{
    width: 100%;
    height: 60px;  
    display: flex;
    justify-content: space-around;
}
.content-9__body__box--content__content--items{
    font-size: 18;
    color: var(--maincolor3);
    margin-top: 0;
    transition: color 0.5s ease;
}
.content-9__body__box--buton{
    width: 159px;
    height: 50px;
    font-size: 25px;
    color: var(--maincolor2);
    background-color: var(--maincolor1);
    border-radius:10px ;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--maincolor1);
    margin-top: 55px;
    margin-left: 220px;
    transition: background-color 0.5s ease-in , color 0.5s ease , transform 0.3s ease;
}
.content-9__body__box:hover{
    background-color: var(--maincolor1);
}
.content-9__body__box:hover .content-9__body__box--logo .content-9__body__box--logo--items
.content-9__body__box--logo--number{
    background-color: var(--maincolor2);
    color: var(--maincolor1);
}
.content-9__body__box:hover .content-9__body__box--content .content-9__body__box--content__header{
    color: var(--maincolor2);
}
.content-9__body__box:hover .content-9__body__box--content .content-9__body__box--content__content .content-9__body__box--content__content--items{
    color: var(--maincolor2);
}
.content-9__body__box:hover .content-9__body__box--buton{
    color: var(--maincolor3);
    background-color: var(--maincolor2);
}
.content-9__body__box--buton:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*content10*/
.content-10{
    width: 100%;
    height: 635px;
    box-sizing: border-box;
    margin-top: 90px;
}
.content-10__header{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
}
.content-10__header--items1{
    font-size: 20px;
    font-weight: bold;
    color: var(--maincolor1);
    margin-top: 0;
}
.content-10__header--items2{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
    margin-top: 0;
}
.content-10__header--items2__span{
    color: var(--maincolor1);
}
.content-10__body{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    position: relative;
}
.content-10__body--box__content{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
}
.content-10__body--box__content--items{
    width: 570px;
    height: 300px;
    flex-shrink: 0;
    text-align: center;
    box-sizing: border-box;
    animation: animation2 0.2s ease-in;
}
@keyframes  animation2{
    from{
		opacity: 0.2;
		transform: scale(0.7);
	}
	to{
		opacity: 1;
		transform: scale(1);
	} 
}
.content-10__body--box--img{
    width: 100px;
    height: 100px;
    margin-top: 15px;
}
.content-10__body--box--name{
    font-size: 25px;
    color: var(--maincolor3);
}
.content-10__body--box--introduce{
    font-size: 18px;
    color: var(--maincolor3);
    margin-top: 0;
}
.content-10__body--box--rank{
    width: 100%;
    height: 20px;
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.content-10__body--box--rank__box
{
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.content-10__body--box__layout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.content-10__body--box__layout2{
    width: 570px;
    height: 100%;
}
.content-10__body--box__layout1,.content-10__body--box__layout3{
    width: 470px;
    height: 100%;
    background-color: rgba(255, 248, 238, 0.8);
}
.content-10__slideshow{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}
.ontent-10__slideshow--items{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 3px solid var(--maincolor1);
    background-color: var(--maincolor2);
    transition: background-color 0.5s ease;
}
.content-10__tag{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 80px;
}
.content-10__tag--items{
    font-size: 35px;
    font-weight: bold;
    color: var(--maincolor3);
    margin-top: 0;
}
.ontent-10__slideshow--items:hover{
    background-color: var(--maincolor1);
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 298px;
    box-sizing: border-box;
    position: relative;
    top: 130px;
    left: 0px;
    right: 0;
}
















