.header{
    width: 100%;
    height: 154px;
    background-color: #FFF8EE;
    position: fixed;
    top:0px;
    left: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.content{
    width: 100%;
    height: 5407px;
    background-color:#FFF8EE;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    top: 135px;
    left: 0px;
}
.content-1{
    width: 100%;
    height: 345px;
    box-sizing: border-box;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.content-1__box{
    width: 80%;
    height: 100%; 
}
.content-10{
    width: 100%;
    height: 100%;
    background-color:#FFF8EE;
    box-sizing: border-box;
    padding-top: 15px;
}
.content-10__block1{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}
.content-10__items{
    width: 510px;
    height: 100%;
}
.content-10__items1{
    color: #CC3333;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: -30px;
}
.content-10__items2{
    width: 500px;
    color:#2A435D;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}
.content-10__items2--style{
    color: #CC3333;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}
.content-10__items--product{
    width: 438px;
    height: 292px;
}
.content-10__items3{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    gap: 50px;
}
.content-10__items3--button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #CC3333;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: #FFF8EE;
    border: 2px solid #CC3333;
}
.content-10__items3--text{
    font-size: 25px;
    color:#2A435D;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
}
.content-10__block2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.content-10__items4--icon{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
}
.content-10__items4--icon__link{
    width: 31.88px;
    height: 31.2px;
    text-decoration: none;
    display: flex;
}
.content-10__items4--icon__link:last-child{
    margin-top: -10px;
}
.content-10__items4--icon__items{
    margin: auto;
    color: #CC3333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 25px;
    height: 25px;
}
.content-10__items4--cuon{
    width: 200px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}
.content-10__items4--cuon__items{
    width: 20px;
    height: 20px;
    border: 3px solid #CC3333;
    border-radius: 50%;
    background-color: #FFF8EE;
}
.content-2{
    width: 100%;
    height: 280px;
}
.content-2__box1{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-2__box1--items1{
    width: 101px;
    height: 23px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2A435D;
    margin-bottom: -20px;
}
.content-2__box1--items2{
    width: 238px;
    height: 41px;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #CC3333;
}
.content-2__box2{
    width: 100%;
    height: 170px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.content-2__box2--items{
    width: 230px;
    height: 120px;
    transition: transform 0.3s ease;
}
.content-2__box2--items:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.content-3{
    width: 100%;
    height: 650px;
}
.content-3--header{
    width: 100%;
    height: 25px;
    display: flex;
}
.content-3--header--items{
    width: 156px;
    height: 23px;
    font-size: 20;
    color: #2A435D;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: auto;
}
.content-3--content{
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.content-3__box1{
    width: 361px;
    height: 600px;
    display: flex;
}
.content-3__box1--items{
    width: 100%;
    height: 100%;
}
.content-3__box2{
    width: 55%;
    height: 100%;
}
.content-3__box2--items1{
    width: 100%;
    height: 200px;
}
.content-3__box2--items1__header{
    width: 502px;
    height: 82px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #CC3333;
    margin-top: -5px;
}
.content-3__box2--items1__content{
    width: 801px;
    height: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #2A435D;
}
.content-3__box3{
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-3__box3--items1{
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}
.content-3__box3--items1__content1{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-3__box3--items1__content1--items{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.content-3__box3--star{
    width: 20px;
    height: 20px;
}
.content-3__box3--items1__content1--itemsitems{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #2A435D;
}
.content-3__box3--items1__content2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.content-3__box3--items1__content2--button{
    width: 300px;
    height: 60px;
    background-color: #CC3333;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color:#FFF8EE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content-3__box3--items2{
    width: 359px;
    height: 377px;
    margin-top: 10px;
}
.content-3__box3--items2__items{
    width: 100%;
    height: 100%;
}
.content-4{
    width: 100%;
    height: 350px;
    margin-top: 50px;
}
.content-4__header{
    width: 100%;
    height: 120px;
    display: flex;
}
.content-4__header--items{
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
}
.content-4__header--items1{
    color: #CC3333;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    white-space: nowrap;
    margin-top: -5px;
}
.content-4__header--items2{
    color:#2A435D;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: -20px;
}
.content-4__content{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    gap: 65px;
}
.content-4__content--box{
    width: 560px;
    height: 200px;
    display: flex;
    cursor: pointer;
}
.content-4__content--items1,.content-4__content--items3{
    width: 405px;
    height: 100%;
    margin: auto;
}
.content-4__content--items1,.content-4__content--items2,.content-4__content--items3{
    transition: transform 0.3s ease-in-out;
}
.content-4__content--items1:hover,.content-4__content--items2:hover,.content-4__content--items3:hover
{
    transform: scale(1.1);
}


