*{
    margin: 0;
    padding: 0;   
   }
a{
    text-decoration: none;
}
.textlist{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #2A435D;
}
.trungtam{
       max-width: 82%;
       min-height: 1100px;
       margin: auto;
       margin-top:20px;
       position: relative;
       margin-left: 160px;
   }
   .imgprofile{
       width: 360px;
       height: 311px;
       background-color:#FFF8EE;
       text-align: center;
       padding-top: 50px;
       font-size: 20px;
   }
   .imgprofile .david{
   /* H1 Heading 25px Roboto Regular */
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 29px;
   /* second color */
   color: #2A435D;
   }
   .imgprofile .web{
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: 400;
   line-height: 21.09px;
   color: red;
   }
   
   .listprofile{
       width: 385px;
       height: 470px;
       margin-top: 33px;
   }
   .listprofile .list{
       width: 344px;
       height: 62px;
       background-color: #FFF8EE;
       border-left : 5px solid red ; 
       font-family: 'Roboto';
       font-size: 25px;
       font-weight: 400;
       line-height: 29.3px;
       text-align: left;
       padding-top:25px;
       padding-left:13px;
   }
   
   .list2{
       width: 344px;
       height: 62px;
       margin-top:20px;
       background-color: #FFF8EE;
       font-family: 'Roboto';
       font-size: 25px;
       font-weight: 400;
       line-height: 29.3px;
       text-align: left;
       padding-left:17px;
       padding-top:20px;
       border-top: 2px solid red;
       border-bottom: 2px solid red;
   }
   .formdien{
       width: 835px;
       height: 1000px;
       position: absolute;
       left:30%;
       top:0%;
   
   }
   .formdien1{
       width: 835px;
       height: 1000px;
   }
   .basicin4{
       width: 844px;
       height: 73px;
   }
   .line{
   border: 2px solid #CC3333;
   width: 800px;
   }
   .basic{
       /* BASIC INFORMATION */
   /* H1 Heading 35px Roboto bold */
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 35px;
   line-height: 41px;
   /* identical to box height */
   
   /* primary color */
   color: #CC3333;
   }
   .form1,.form2{
       width: 837px;
       height: 460px;
       margin-top:30px;
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 18px;
       line-height: 21px;
       color: #CC3333;
   }
   .username{
       /* text_field */
       width: 800px;
       height: 50px;
       box-sizing: border-box;
       /* 3rd color */
       background: #FFF8EE;
       /* primary color */
       border: 2px solid #CC3333;
       border-radius: 10px;
       padding-left:20px;
       font-family: 'Roboto';
       font-size: 25px;
       font-weight: 400;
       line-height: 29.3px;
       text-align: left;
   }
   .professional{
       width: 387px;
       height: 100px;
       margin-top:20px;
   }
   .professional_age{
       box-sizing: border-box;
       /* 3rd color */
       background: #FFF8EE;
       /* primary color */
       border: 2px solid #CC3333;
       border-radius: 10px;
       padding-left:20px;
       font-family: 'Roboto';
       font-size: 25px;
       font-weight: 400;
       line-height: 29.3px;
       text-align: left;
       width: 380px;
       height: 50px;
   }
   .professionalandage,._4input{
       width: 800px;
       height: 87px;
       display: flex;
       justify-content: space-between;
       align-items: baseline;
   }
   .age{
       width: 393px;
       height: 92px;
       margin-left:40px;
   }
   .emailaddress,.postcode,.fulladdress{
       width: 393px;
       height: 92px;
       margin-left: 10px;
   }
   .about{
       width: 832px;
       height: 240px;
       margin-top: 20px;
   }
   .about2{
       width: 810px;
       height: 187px;
       padding-left:10px;
       padding-top: 20px;
       resize: none ;
       font-family: 'Roboto';
       font-size: 18px;
       font-weight: 400;
       line-height: 21.09px;
       text-align: left;
       box-sizing: border-box;
       /* 3rd color */
       background: #FFF8EE;
       /* primary color */
       border: 2px solid #CC3333;
       border-radius: 10px;
       padding-left:20px;
   }
   
   .contactin4{
       width: 831px;
       height: 408px;
       position: absolute;
       bottom: 10%;
   }
   .contact{
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       font-size: 35px;
       line-height: 41px;
       color: #CC3333;
   }
   ._4input{
       width: 828px;
       height: 116px;
   }
   .nutsave{
       position: absolute;
       top:90%;
       left:36%;
   }
   .save{
       color:white;
       font-family: Roboto;
       font-size: 25px;
       font-weight: 400;
       line-height: 29.3px;
       text-align: left;   
       background: #CC3333;
       border-radius: 10px;
       padding: 18px 26px;
   }
.listprofile i{
    color: #CC3333;
    font-size: 16px;
    float: left;
    padding-top: 10px;
    margin-right: 15px;
}

.bangto{
    width: 406px;
    height: 282px;
    background-color:#FFFFFF;
    position: absolute;
    top:-2.3%;
    right:-1%;
    padding-left: 30px;
    
}
.listdangnhap{
    width: 338px;
    height: 248px;
    background-color:#FFF8EE;
}
.tendangnhap{
    width: 338px;
    height: 80px;
    border-bottom: 1px solid #CC3333;
}
.option1{
    width: 338px;
    height: 56px;
    border-bottom: 1px solid #CC3333;
    
}
.option1 i{
    color: #CC3333;
    float: left;
    padding: 15px 10px;
}
.alloption{
padding: 11px;
font-family: 'Roboto';
font-size: 25px;
font-weight: 400;
line-height: 29.3px;
text-align: left;

}
.tendangnhap img{
    width: 55px;
    height: 50px;
    padding-left: 10px;
    float: left;
    padding-top:10px;
    margin-right:15px; 
}
.tendangnhap .text4{
    padding-top:8px;
}
.David2{
font-family: 'Roboto';
font-size: 25px;
font-weight: 400;
line-height: 29.3px;
text-align: left;
}
.Email{
font-family: 'Roboto';
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
text-align: left;
}
.footer{
    width: 100%;
    height: 298px;
    box-sizing: border-box;
    position: relative;
    top: 130px;
    left: 0px;
    right: 0;
}
.ourbranch{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */
    text-align: center;
    /* second color */
    color: #2A435D;
    margin-bottom: -100px;
    }